<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Koszyk</title>
    <!--Bootstrap CSS-->
    <link th:replace="view/general/fragments/resources :: csss"/>
</head>
<body>
<div th:replace="view/general/fragments/header::header"></div>
<div class="container-fluid mx-auto my-4 content">
    <h3>Towary w koszyku</h3>
    <form method="post" onkeypress="return event.keyCode != 13;">
        <div class="card my-2 py-1" th:each="cp, status : ${shoppingCart.positions}">
            <div class="row justify-content-between align-items-center mx-0">
                <div class="row align-items-center justify-content-start mx-0">
                    <div class="col-md-auto">
                        <i class="fas fa-cube fa-3x"></i>
                    </div>
                    <div class="col-md-auto">
                        <h5 class="mb-0" th:text="${cp.ware.name}">Nazwa</h5>
                    </div>
                </div>
                <div class="row align-items-center mx-0">
                    <div class="col text-right" style="width:150px">
                        <input type="number" min="1" th:max="${cp.ware.disposableState}" class="form-control" th:field="${shoppingCart.positions[__${status.index}__].quantity}" th:value="${cp.quantity}" required="required"/>
                    </div>
                    <div class="col text-right" style="width:320px">
                        <h4 class="mb-0" th:text="${#numbers.formatDecimal(cp.price, 0, 'DEFAULT', 2, 'DEFAULT') + ' zł'}">Cena</h4>
                    </div>
                    <div class="col text-right">
                        <button type="submit" formaction="/shoppingCart" th:value="${cp.number}" name="removePos" class="btn btn-secondary"><i class="fas fa-times fa-2x"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-between mx-0 mt-3 mb-4">
            <button type="submit" formaction="/home" name="clearCart" class="btn btn-light"><i class="fas fa-eraser fa-2x" style="vertical-align: middle;"></i> Wyczyść koszyk</button>
            <h4 th:text="${'Suma: ' + #numbers.formatDecimal(shoppingCartSum, 0, 'DEFAULT', 2, 'DEFAULT') + ' zł'}"></h4>
        </div>
        <div class="row justify-content-between mx-0">
            <button type="submit" formaction="/home" name="continueShopping" class="btn btn-light"><i class="fas fa-angle-left fa-2x" style="vertical-align: middle;"></i> Kontynuuj zakupy</button>
            <button type="submit" formaction="/orderForm" name="placeOrder" class="btn btn-light"><i class="fas fa-angle-right fa-2x" style="vertical-align: middle;"></i> Złóż zamówienie</button>
        </div>
    </form>
</div>
<footer th:replace="view/general/fragments/footer :: footer"></footer>
<!--Bootstrap JS-->
<div th:replace="view/general/fragments/resources :: scripts"></div>
</body>
</html>