<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Formularz zamówienia</title>
    <!--Bootstrap CSS-->
    <link th:replace="view/general/fragments/resources :: csss"/>
</head>
<body>
<div th:replace="view/general/fragments/header::header"></div>
<div class="container-fluid mx-auto my-4 content">
    <div class="row mx-0">
        <div class="col-6"><h3>Dane do zamówienia</h3></div>
        <div class="col-6"><h3>Zawartość zamówienia</h3></div>
    </div>
    <form method="post">
        <div class="row mx-0">
            <div class="col-3">
                <div class="row mx-0 my-2">
                    <div>
                        <input type="radio" name="personalCollection" id="selfPickupRadio" checked="checked" th:field="${orderBlueprint.personalCollection}" th:value="true"/>
                        <label for="selfPickupRadio">Odbiór osobisty</label>
                    </div>
                    <div class="ml-4">
                        <input type="radio" name="personalCollection" id="shippingRadio" th:field="${orderBlueprint.personalCollection}" th:value="false"/>
                        <label for="shippingRadio">Dostawa</label>
                    </div>
                </div>
                <div class="row mx-0 my-3" id="selfPickup">
                    <div class="col-md-auto bordered-container px-3">
                        <div class="bordered-container-title">Adres do odbioru</div>
                        <h6 class="my-3">Placówka główna hurtowni</h6>
                        <p>ul. Balsamiczna 99<br/>50-518<br/>Wrocław</p>
                    </div>
                </div>
                <div class="row mx-0 my-3" id="shippingContainer">
                    <div class="col-10 px-0 my-1">
                        <input type="text" id="shippingStreetInput" class="form-control" placeholder="Wpisz ulicę" th:field="${orderBlueprint.deliveryAddress.street}"/>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-5 px-0 my-1">
                        <input type="text" id="shippingBuildingInput" class="form-control" placeholder="Nr budynku" th:field="${orderBlueprint.deliveryAddress.buildingNumber}"/>
                    </div>
                    <div class="col-5 px-0 my-1">
                        <input type="text" id="shippingLocalInput" class="form-control" placeholder="Nr lokalu" th:field="${orderBlueprint.deliveryAddress.localNumber}"/>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-10 px-0 my-1">
                        <input type="text" id="shippingCityInput" class="form-control" placeholder="Wpisz miasto" th:field="${orderBlueprint.deliveryAddress.city}"/>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-10 px-0 my-1">
                        <input type="text" id="shippingPostalCodeInput" class="form-control" placeholder="Wpisz kod pocztowy" th:field="${orderBlueprint.deliveryAddress.postalCode}"/>
                    </div>
                    <div th:field="${deliveryCost.value}" th:value="${@orderServiceImpl.calculateDeliveryCost(orderBlueprint)}"></div>
                    <div class="col-5 px-0 mt-4"><h6>Forma dostawy:</h6></div>
                    <div class="col-5 px-0 mt-4 text-right"><h6>Kurier DPD</h6></div>
                </div>
            </div>
            <div class="col-3">
                <div class="row mx-0 my-2">
                    <h6>Wybierz rodzaj rachunku</h6>
                    <div class="w-100"></div>
                    <div>
                        <input type="radio" name="invoice" id="receiptRadio" checked="checked" th:field="${orderBlueprint.invoice}" th:value="false"/>
                        <label for="receiptRadio">Paragon</label>
                    </div>
                    <div class="ml-4">
                        <input type="radio" name="invoice" id="invoiceRadio" th:field="${orderBlueprint.invoice}" th:value="true"/>
                        <label for="invoiceRadio">Faktura</label>
                    </div>
                </div>
                <div id="receipt"></div>
                <div class="row mx-0" id="invoiceContainer">
                    <div class="col-10 px-0 my-1">
                        <input type="text" id="invoiceStreetInput" class="form-control" placeholder="Wpisz ulicę" th:field="${orderBlueprint.invoiceBuyerAddress.street}"/>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-5 px-0 my-1">
                        <input type="text" id="invoiceBuildingInput" class="form-control" placeholder="Nr budynku" th:field="${orderBlueprint.invoiceBuyerAddress.buildingNumber}"/>
                    </div>
                    <div class="col-5 px-0 my-1">
                        <input type="text" id="invoiceLocalInput" class="form-control" placeholder="Nr lokalu" th:field="${orderBlueprint.invoiceBuyerAddress.localNumber}"/>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-10 px-0 my-1">
                        <input type="text" id="invoiceCityInput" class="form-control" placeholder="Wpisz miasto" th:field="${orderBlueprint.invoiceBuyerAddress.city}"/>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-10 px-0 my-1">
                        <input type="text" id="invoicePostalCodeInput" class="form-control" placeholder="Wpisz kod pocztowy" th:field="${orderBlueprint.invoiceBuyerAddress.postalCode}"/>
                    </div>
                </div>
                <div class="row mx-0 my-3">
                    <div>
                        <input type="checkbox" name="postponement" id="postponementCheckbox" th:checked="false" th:field="${postponement.value}"/>
                        <label for="postponementCheckbox">Zamówienie odroczone</label>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-8 mx-0" id="postponementNo">
                        <i>Masz możliwość odroczenia realizacji
                            zamówienia na termin od 7 do 30 dni
                            późniejszy licząc od daty bieżącej</i>
                    </div>
                    <div class="col-8 mx-0" id="postponementYes">
                        <input type="date" id="postponementDateInput" class="form-control" th:field="${postponementDateWrapper.date}"
                               th:with="today = ${#dates.createToday()}, year = ${#dates.year(today)}, month = ${#dates.month(today)}, day = ${#dates.day(today)}"
                               th:max="${#dates.format(#dates.create(year, month, day + 30), 'yyyy-MM-dd')}"
                               th:min="${#dates.format(#dates.create(year, month, day + 7), 'yyyy-MM-dd')}"/>
                        Wybierz oczekiwaną datę dostarczenia zamówienia
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card my-2 py-1" th:each="cp, status : ${shoppingCart.positions}">
                    <div class="row justify-content-between align-items-center mx-0">
                        <div class="row align-items-center justify-content-start mx-0">
                            <div class="col-md-auto">
                                <i class="fas fa-cube fa-3x"></i>
                            </div>
                            <div class="col-md-auto">
                                <h5 class="mb-0" th:text="${cp.ware.name}">Nazwa</h5>
                            </div>
                        </div>
                        <div class="row align-items-center mx-0">
                            <div class="col text-right" style="width:150px">
                                <h5 class="my-0" th:text="${'x ' + cp.quantity}"></h5>
                            </div>
                            <div class="col text-right" style="width:320px">
                                <h4 class="mb-0" th:text="${#numbers.formatDecimal(cp.price, 0, 'DEFAULT', 2, 'DEFAULT') + ' zł'}">Cena</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-right">
                    <h4 th:text="${'Suma: ' + #numbers.formatDecimal(@shoppingCartServiceImpl.getSum(), 0, 'DEFAULT', 2, 'DEFAULT') + ' zł'}"></h4>
                </div>
            </div>
        </div>
        <div class="row mb-0 mt-5 justify-content-center" th:each="msg : ${@orderServiceImpl.errors}">
            <div class="col-md-auto"><p class="text-danger" th:text="${msg}"></p></div>
        </div>
        <div class="row mb-0 mt-5">
            <div class="col-6">
                <button type="submit" formaction="/shoppingCart" name="backToCart" class="btn btn-light"><i class="fas fa-angle-left fa-2x" style="vertical-align: middle;"></i> Wróc do koszyka</button>
            </div>
            <div class="col-6 text-right">
                <button type="submit" formaction="/orderSummary" name="next" class="btn btn-light"><i class="fas fa-angle-right fa-2x" style="vertical-align: middle;"></i> Dalej</button>
            </div>
        </div>
    </form>
</div>
<footer th:replace="view/general/fragments/footer :: footer"></footer>
<!--Bootstrap JS-->
<div th:replace="view/general/fragments/resources :: scripts"></div>
<script th:src="@{/js/tomkowe-cudo.js}"></script>
<script th:src="@{/js/order-form-requirements.js}"></script>
</body>
</html>