<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Formularz reklamacji</title>
    <link th:replace="view/general/fragments/resources::csss" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/squirrel.css}"/>
</head>
<body>
<!--<div th:replace="view/general/fragments/header::header"></div>-->
<h1 class="ml-3" th:text="${order.number}"></h1>
<div class="container-fluid">
    <div class="row justify-content-between" th:object="${order}">
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <h4 th:text="${#strings.capitalize(order.status)}"></h4>
                </div>
            </div>
            <div class="row justify-content-start ml-1">
                <div class="col-6">
                    Data złożenia
                </div>
                <div class="col-6" th:text="*{submissionDate}"></div>
            </div>
            <div class="row justify-content-start ml-1 mt-2">
                <div class="col-6">
                    Data sprzedaży
                </div>
                <div class="col-6" th:text="*{saleDate}?: '-'"></div>
            </div>
            <div class="row justify-content-start ml-1 mt-2">
                <div class="col-6">
                    Czas realizacji
                </div>
                <div class="col-6" th:text="(*{realizationTime}?: '0') + ' dni'"></div>
            </div>
            <div class="row justify-content-start ml-1 mt-2">
                <div class="col-6">
                    Czas odroczenia
                </div>
                <div class="col-6" th:text="|*{postponementTime} dni|"></div>
            </div>
            <div class="row justify-content-start ml-1 mt-2">
                <div class="col-6">
                    Czas dostawy
                </div>
                <div class="col-6" th:text="(*{deliveryTime}?: '0') + ' dni'"></div>
            </div>
            <div class="row justify-content-start ml-1 mt-2">
                <div class="col-6">
                    Odbiór osobisty
                </div>
                <div class="col-6" th:text="(*{personalCollection} == true)? 'Tak' : 'Nie'"></div>
            </div>
            <div class="row justify-content-start ml-1 mt-2">
                <div class="col-6">
                    Koszt dostawy
                </div>
                <div class="col-6" th:text="(${#numbers.formatDecimal((order.deliveryCost)?: 0, 1, 2)}) + ' zł'"></div>
            </div>
            <div class="row justify-content-start ml-1 mt-4">
                <div class="col-6">
                    <h5>Wartość</h5>
                </div>
                <div class="col-6">
                    <h5 th:text="(${#numbers.formatDecimal(orderValue + order.deliveryCost, 1, 2)}) + ' zł'"></h5>
                </div>
            </div>
        </div>
        <div class="col-7">
            <form th:action="@{/complaintSummary}" method="post">
                <div class="bordered-container">
                    <div class="bordered-container-title">Zawartość zamówienia</div>
                    <table class="table table-sm borderless">
                        <thead>
                        <tr>
                            <th class="text-right" scope="col">Zareklamuj</th>
                            <th scope="col">Produkt</th>
                            <th class="text-right" scope="col">Ilość</th>
                            <th class="text-right" scope="col">Cena</th>
                            <th class="text-right" scope="col">Koszt</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="position, status : ${complaintForm.positions}">
                            <td>
                                <div class="form-check float-right">
                                    <input th:field="${complaintForm.positions[__${status.index}__]}" th:value="${order.positions[__${status.index}__].number}" class="form-check-input" type="checkbox" id="blankCheckbox" />
                                </div>
                            </td>
                            <td th:text="${order.positions[__${status.index}__].ware.name}"></td>
                            <td>
                                <div class="row justify-content-end">
                                    <div class="from-group col-6">
                                        <div class="form-check mb-0">
                                            <input th:field="${complaintForm.positions[__${status.index}__].quantity}" type="number" class="form-control form-control-sm" step="any" min="0" th:max="${order.positions[__${status.index}__].quantity}" />
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(order.positions[__${status.index}__].price, 1, 2)} + ' zł'"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(order.positions[__${status.index}__].price * order.positions[__${status.index}__].quantity, 1, 2)} + ' zł'"></td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right"><h5 th:text="${#numbers.formatDecimal(orderValue, 1, 2)} + ' zł'"></h5></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <input type="hidden" th:field="${complaintForm.order.id}" />
                <button type="submit" class="btn btn-outline-primary float-right mt-2">Dodaj do reklamacji</button>
            </form>
        </div>
    </div>
</div>
<footer th:replace="view/general/fragments/footer::footer"></footer>
<div th:replace="view/general/fragments/resources::scripts"></div>
</body>
</html>